*{
    padding: 0;
    margin: 0;

}


.logo{
    width: 100px;
}

.navbar-brand{
    margin-left: 10px;
}

.container{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    width: 100%;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
}

h5{
    color: #C433FF;
}

p{
    color: #33FFF0;
}
